[submodule "uavcan_communicator/libs/libuavcan"]
	path = uavcan_communicator/libs/libuavcan
	url = https://github.com/UAVCAN/libuavcan
[submodule "uavcan_communicator/libs/platform_specific_components"]
	path = uavcan_communicator/libs/platform_specific_components
	url = https://github.com/UAVCAN/platform_specific_components
