[submodule "drone_communicators/libs/libuavcan"]
	path = drone_communicators/libs/libuavcan
	url = https://github.com/UAVCAN/libuavcan
[submodule "drone_communicators/libs/platform_specific_components"]
	path = drone_communicators/libs/platform_specific_components
	url = https://github.com/UAVCAN/platform_specific_components
